h2 {
    text-align: center;
    size: 5px;
    font-size: 25px;
}

label {
    padding-bottom: 2%;
}

input[type="checkbox"] {
    margin: 2%;
}

header {
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 100;
}

i.accesoForm {
    position: relative;
    float: right;
    right: 31em;
    padding: 0.5em 1em 0.2em;
    font-size: 2.5em;
    color: grey;
    cursor: pointer;
}

i.errorEntrada {
    position: relative;
    float: right;
    top: 0.7em;
    right: 10%;
    color: red;
    display: none;
}

i.pass {
    position: absolute;
    top: 26%;
    float: right;
    right: 1%;
}

.contenedor_form {
    clear: both;
    position: absolute;
    float: right;
    right: 32%;
    top: 100%;
    width: 30%;
    border-radius: 10px;
    background: #e6a75f;
    height: 480px;
    display: none;
}

.contenedor_form form label {
    display: block;
}

.contenedor_form form {
    height: 100%;
    padding-left: 0.5em;
}

input.entrada {
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
    border: 2px solid #82888b;
    border-radius: 20px;
}

.errorMensaje {
    position: absolute;
    font-size: 0.5em;
    top: -1em;
    left: -8.5em;
    width: 11em;
}

main {
    clear: both;
    position: relative;
    height: 500px;
    background: #919ca0;
}